<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357737768655-pu56ra9kvuj7te2d4r5ghclsa6sf3qjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357737768655-pu56ra9kvuj7te2d4r5ghclsa6sf3qjd</string>
	<key>API_KEY</key>
	<string>AIzaSyBkbvG4xhMOq1ZhWPPLp1dq5RBCffn91aM</string>
	<key>GCM_SENDER_ID</key>
	<string>357737768655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.project6</string>
	<key>PROJECT_ID</key>
	<string>toduo-95f05</string>
	<key>STORAGE_BUCKET</key>
	<string>toduo-95f05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357737768655:ios:e9d461db418eca145379ba</string>
	<key>DATABASE_URL</key>
	<string>https://toduo-95f05.firebaseio.com</string>
</dict>
</plist>